body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f1f1;
}

.calculator {
    background-color: #312e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(160, 123, 123, 0.2);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 0px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #ee9292;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: 2px solid whitesmoke;
    background-color: #111010;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #615c5c;
}

button:active {
    background-color: #513131;
}

#hiddenButtons {
    display: none; /* It will hide the buttons initially */
  }